<!<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SolucionTotal/gps</title>
    <link rel="stylesheet" href="icon/css/fontello.css">
    <link rel="stylesheet" href="css/estilos.css">
  </head>
  <body>
    <main>
      <div class="content-all">
        <head></head>
        <input type="checkbox" id ="check" >
        <label for="check" class="icon-menu">Menú</label>
        <nav class="menu">
          <ul>
            <li>Ajustes</li>
            <li>Usuarios</li>
            <li>Dispositivos</li>
            <li>Choferes</li>
            <li>Reportes</li>
            <li>Geo-cerca</li>
            <li>Servidor</li>
          </ul>
        </nav>
      </div>
    </main>
  </body>
</html>
