body{
    height: 100%;
    background-color: whitesmoke;
}
.form-login{
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    padding: 15px;
    margin: auto;  
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#logo{
    max-width: 320px;
}
#email{
    margin-bottom: -1px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
#password{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
.form-login .form-check{
    font-weight: 400;
    font-size: 11pt
}
#btn-ingresar{
    background-color: blue;
    border-color: blue;
}